# Trabalho de Graduação

https://www.kaggle.com/datasets/chitwanmanchanda/fraudulent-transactions-data?resource=download

**Dicionário de dados:**

step - mapeia uma unidade de tempo no mundo real. Neste caso, 1 passo é 1 hora de tempo. Total de etapas 744 (simulação de 30 dias).

type - CASH-IN, CASH-OUT, DÉBITO, PAGAMENTO e TRANSFERÊNCIA.

amount - valor da transação em moeda local.

nameOrig - cliente que iniciou a transação

oldbalanceOrg - saldo inicial antes da transação

newbalanceOrig - novo saldo após a transação

nameDest - cliente que é o destinatário da transação

oldbalanceDest - destinatário do saldo inicial antes da transação. Observe que não há informações para clientes que começam com M (Comerciantes).

newbalanceDest - novo destinatário do saldo após a transação. Observe que não há informações para clientes que começam com M (Comerciantes).

isFraud - São as transações feitas pelos agentes fraudulentos dentro da simulação. Neste conjunto de dados específico, o comportamento fraudulento dos agentes visa lucrar ao assumir o controle das contas dos clientes e tentar esvaziar os fundos transferindo para outra conta e depois sacando do sistema.

isFlaggedFraud - O modelo de negócios visa controlar transferências massivas de uma conta para outra e sinaliza tentativas ilegais. Uma tentativa ilegal neste conjunto de dados é uma tentativa de transferir mais de 200.000 em uma única transação.

### 1. Dataset

In [ ]:
# Instalação das bibliotecas
!pip install pyspark;

import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn import metrics
from pyspark import SparkFiles
from pyspark.sql import SparkSession
from google.colab import drive
from sklearn.tree import DecisionTreeClassifier

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 30 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 47.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=5b4b7c8f24ff93a05d0282d14cf8fe3b48fb8c14830baa1274ba8596642b4442
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
# Conexão  com ambiente de nuvem
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Leitura da base de dados
spark = SparkSession.builder.getOrCreate()
dataframe = spark.read.csv(SparkFiles.get("/content/drive/MyDrive/TG/data.csv"), header=True, inferSchema=True, sep=",")

In [ ]:
dataframe.createOrReplaceTempView("base")

In [ ]:
query = """
  SELECT *
  FROM base
"""

spark.sql(query).show()

+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|step|    type|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|   1| PAYMENT|  9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0|
|   1|TRANSFER|    181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|
|   1|CASH_OUT|    181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|
|   1| PAYMENT| 11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0|
|   1|   DEBIT|  5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|
|   1|   DEBIT|  9644.94|C1900366749|       4465.0|           0.0| C997608398|       10845.0|     157982.12|      0|             0|
|   1| PAYMENT|  3099.97| C249177573|      20771.0|      17671.03|M2096539129|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  2560.74|C1648232591|       5070.0|       2509.26| M972865270|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 11633.76|C1716932897|      10127.0|           0.0| M801569151|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  4098.78|C1026483832|     503264.0|     499165.22|M1635378213|           0.0|           0.0|      0|             0|
|   1|CASH_OUT|229133.94| C905080434|      15325.0|           0.0| C476402209|        5083.0|      51513.44|      0|             0|
|   1| PAYMENT|  1563.82| C761750706|        450.0|           0.0|M1731217984|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  1157.86|C1237762639|      21156.0|      19998.14|M1877062907|           0.0|           0.0|      0|             0|
|   1| PAYMENT|   671.64|C2033524545|      15123.0|      14451.36| M473053293|           0.0|           0.0|      0|             0|
|   1|TRANSFER| 215310.3|C1670993182|        705.0|           0.0|C1100439041|       22425.0|           0.0|      0|             0|
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
only showing top 20 rows

## Data Cleaning

In [ ]:
# Análise e limpeza de dados
query= """
      Select isFraud, count(isFraud)
      from base
      group by isFraud
"""

spark.sql(query).show()

+-------+--------------+
|isFraud|count(isFraud)|
+-------+--------------+
|      1|          8213|
|      0|       6354407|
+-------+--------------+

In [ ]:
query = """
  SELECT CASE WHEN type = 'PAYMENT ' THEN 0 WHEN type = 'CASH-IN ' THEN 1 WHEN type = 'CASH-OUT ' THEN 2 WHEN type = 'TRANSFER' THEN 3 ELSE 4 END as type,
 amount, oldbalanceOrg, newbalanceOrig, oldbalanceDest,
  newbalanceDest, isFraud
  FROM base
  """

dataframe = spark.sql(query)
dataframe.createOrReplaceTempView('base1')

In [ ]:
query = """
        Select * from ((
          Select * from base1 WHERE isFraud=0 LIMIT 8213)
          UNION ALL (
            SELECT * from base1 WHERE isFraud=1 Limit 8213))
"""

dataframe= spark.sql(query)

In [ ]:
df = dataframe.toPandas()

# sample- amostragem aleatória
df = df.sample(frac=0.7)

In [ ]:
# Treinamento do modelo
df.head()

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
5457,4,5830.20,16232.00,10401.80,0.00,0.00,0
3982,4,344106.28,1285034.84,1629141.12,3496462.74,2943614.60,0
1133,4,1668.11,1080.00,0.00,17145.04,9672.67,0
166,4,114712.48,0.00,0.00,145400.00,0.00,0
13365,4,1424002.70,1424002.70,0.00,11407.50,1435410.19,1

In [ ]:
X = df.drop(columns=['isFraud'])
y = df['isFraud']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.7, random_state=0)

In [ ]:
X_train.shape, X_test.shape

((3449, 6), (8049, 6))

In [ ]:
y_train.shape, y_test.shape

((3449,), (8049,))

In [ ]:

classificador = DecisionTreeClassifier()
classificador.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
resultado = classificador.predict(X_test)

In [ ]:
resultado

array([0, 1, 0, ..., 1, 1, 1], dtype=int32)

In [ ]:
y_test.values

array([0, 1, 0, ..., 1, 1, 1], dtype=int32)

In [ ]:
# Avaliação do modelo
print(metrics.classification_report(y_test, resultado))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      3989
           1       0.99      0.99      0.99      4060

    accuracy                           0.99      8049
   macro avg       0.99      0.99      0.99      8049
weighted avg       0.99      0.99      0.99      8049

In [ ]:
classificador.fit(X_train, y_train)

In [ ]:
# Comparação dos resultados
confusion_matrix(y_test, resultado)

In [ ]:
tn, fp, fn, tp = confusion_matrix(y_test, resultado).ravel()
print(tn, fp, fn, tp)

In [ ]:
acuracia = (tp + tn)/ (tp + tn + fp + fn)
print(round(acuracia, 2))

In [ ]:
# Impacto das características no aprendizado
classificador.feature_importances_

In [ ]:
# Relevância das colunas
features = pd.Series(classificador.feature_importances_, index=X_train.columns).sort_values(ascending=False)

In [ ]:
features

In [ ]:
features.plot.barh()
plt.ylabel('Features')
plt.xlabel('Importância')
plt.show();